#
# -si → Start as initialization (used during system boot).
# -ss → Start as a service (used when starting manually or via systemd).
#

[Unit]
Description = IBM MQ
After = network.target

[Service]
Type=forking
User=mqm
Group=mqm
ExecStart=/opt/mqm/bin/strmqm -x QM1
TimeoutStartSec=0
RemainAfterExit=yes
ExecStop=/opt/mqm/bin/endmqm -x QM1
StandardOutput=journal

[Install]
WantedBy = multi-user.target