[Unit]
Description = IBM MQ Web Console
After = network.target

[Service]
Type=forking
User=mqm
Group=mqm
ExecStart=/opt/mqm/bin/strmqweb
TimeoutStartSec=0
RemainAfterExit=yes
ExecStop=/opt/mqm/bin/endmqweb
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy = default.target